@charset "UTF-8";

.icon-checked { background-image: url(../images/icons/checked.png) !important; }
.icon-blank   { background-image: url(../images/icons/checked.png) !important; }

.icon-share-document {
    background-image: url(../images/icons/share-document.png) !important;
}

.icon-phpmyadmin {
    background-image: url(../images/icons/phpmyadmin.png) !important;
}

.icon-kontaktoria {
    background-image: url(../images/icons/kontaktoria.png) !important;
}

/* ALEJANDRO SET */
.icon-home {
    background-image: url(../images/icons/home.png) !important;
}

.icon-logout {
    background-image: url(../images/icons/logout.png) !important;
}

.icon-car {
    background-image: url(../images/icons/car.png) !important;
}

.icon-france {
    background-image: url(../images/icons/france.png) !important;
}

.icon-germany {
    background-image: url(../images/icons/germany.png) !important;
}

.icon-poland {
    background-image: url(../images/icons/poland.png) !important;
}

.icon-soccer {
    background-image: url(../images/icons/soccer.png) !important;
}

.icon-world {
    background-image: url(../images/icons/world.png) !important;
}
