div.jaysic-menu {
    font-family: sans-serif;
    font-size: 13px;
}

div.jaysic-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    vertical-align: middle;
    float: left;
    background: #000000;
}

div.jaysic-menu ul:first-child {
    height: 38px;
}

div.jaysic-menu ul li {
    background: #000000;
    color: #FFFFFF;
    padding: 6px 6px 0 6px;
    float: left;
    margin: 0;
}

div.jaysic-menu ul ul li:last-child {
    padding-bottom: 12px;
}

div.jaysic-menu li span {
    cursor: pointer;
}

div.jaysic-menu ul li.expanded {
    background: #666666;
    color: #FFFFFF;
}

div.jaysic-menu ul ul {
    list-style: none;
    display: none;
    /*position: absolute;*/
    width: auto;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    /*box-shadow: 5px 5px 5px #888;*/
    overflow: hidden;
}

/* Links */

div.jaysic-menu span a:link,
div.jaysic-menu span a:visited
{
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    /*padding: 4px 12px 4px 12px;*/

/*}*/

/*div.jaysic-menu span a.icon {*/
    background-repeat: no-repeat;
    padding: 4px 12px 4px 32px;
}

div.jaysic-menu span a:hover,
div.jaysic-menu span a:active
{
    text-decoration: underline;
}
