div.jaysic-menu {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
}

div.jaysic-menu ul {
    list-style: none;
    width: auto;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    background: #D4D0C8;
    border: 1px white outset;
    box-shadow: 3px 3px 3px #888;
    overflow: hidden;
}

div.jaysic-menu ul ul {
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
}

div.jaysic-menu ul.root {
    height: 24px;
    width: 100%;
    border: 0;
    border-bottom: 1px #898782 solid;
    box-shadow: 0px 0px 0px #000;
    float: left;
}

div.jaysic-menu ul li {
    color: black;
    background: transparent;
    margin: 0;
    cursor: default;
    vertical-align: middle;
    width: auto;
    float: left;
    padding: 2px 24px 4px 0px;
    clear: both;
    min-width: 171px;
    margin: 2px;
}

div.jaysic-menu ul li div {
    background-repeat: no-repeat;
    background-position: 3px 0px;
    padding: 0px 0px 1px 24px;
    width: 100%;
    float: left;
}

div.jaysic-menu ul li.has-children {
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url(../images/icons/has-children-off.png);
}

div.jaysic-menu ul li.has-children:hover {
    background-image: url(../images/icons/has-children-on.png);
}

div.jaysic-menu ul.root > li > div {
    padding-left: 0px;
    padding-bottom: 3px;
}

div.jaysic-menu ul.root > li > div.icon {
    padding-left: 24px;
}

div.jaysic-menu ul li:hover {
    background-color: #0A246A;
    color: white;
}

div.jaysic-menu ul.root > li {
    min-width: auto;
    padding: 4px 10px 9px 8px;
    clear: none;
    margin: 0;
}

div.jaysic-menu ul.root > li:hover > div {
    background-position: 2px 0px;
    padding-left: 0px;
    margin-top: -1px;
}

div.jaysic-menu ul.root > li:hover > div.icon {
    padding-left: 23px;
}

div.jaysic-menu ul.root > li:hover {
    background-color: transparent;
    border: 1px white outset;
    color: black;
}
