/* BASIC MENU STYLE */

div.jaysic-menu {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 11px;
    background: #D4D0C8;
    color: black;
    margin-top: 0;
}

div.jaysic-menu ul {
    margin-top: 0;
    list-style-type: none;
    background: #D4D0C8;
}

div.jaysic-menu ul li {
    background: transparent;
    margin: 0;
    cursor: default;
    vertical-align: middle;
    width: auto;
    float: left;
    padding: 2px 24px 4px 0px;
    clear: both;
    min-width: 171px;
    margin: 2px;
}

/* MENU ELEMENTS WITH SUBMENUS (ARROW) */

div.jaysic-menu ul li.has-children {
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url(../images/icons/has-children-off.png);
}

div.jaysic-menu ul li.has-children:hover {
    background-image: url(../images/icons/has-children-on.png);
}

/* DROP DOWN MENU */

div.jaysic-menu > ul:first-child ul {
    position: absolute;
    display: none;
    width: auto;
    vertical-align: middle;
    background: #D4D0C8;
    border: 1px white outset;
    box-shadow: 3px 3px 3px #888;
    overflow: hidden;
    left: 0;
    top: 100%;
    margin: 0;
    padding: 0;
}

/* DROP DOWN MENU ELEMENTS */

div.jaysic-menu ul:first-child li:hover {
    background-color: #0A246A;
    color: white;
}

/* MENU ELEMENT CONTENT: */

div.jaysic-menu ul li div {
    background-repeat: no-repeat;
    background-position: 3px 0px;

    width: 100%;
    float: left;

    padding-top: 0;
    padding-right: 0;
    padding-bottom: 1px;
    padding-left: 24px;
}

