/**
 * Menu bar style:
 */
@charset "UTF-8";

div.jaysic-menu ul:first-child {
    position: relative;
    display: block;
    height: 23px;
    width: 100%;
    border: 0;
    border-top: 1px white outset;
    border-bottom: 1px #898782 solid;
    padding-top: 1px;
    padding-left: 0;
    box-shadow: 0 0 0 #000;
}

div.jaysic-menu ul:first-child > li {
    background-repeat: no-repeat;
    background-position: 2px 2px;
    cursor: default;
    margin: 0;
    border: 0;
    width: auto;
    min-width: inherit;
    height: 16px;

    padding-top: 3px;
    padding-right: 9px;
    padding-bottom: 0;
    padding-left: 8px;

    float: left;
}

div.jaysic-menu ul:first-child > li.selected {
    background-repeat: no-repeat;
    background-position: 1px 1px;

    background-color: transparent;
    color: black !important;

    border: 1px white outset;

    padding-top: 2px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-left: 7px;
}

div.jaysic-menu ul:first-child > li.selected.icon,

div.jaysic-menu ul:first-child > li.icon {
    padding-left: 21px;
    padding-right: 3px;
    color: black !important;
}

div.jaysic-menu ul:first-child > li.icon.selected {
    padding-left: 20px;
    padding-right: 2px;
    color: black !important;
}

div.jaysic-menu ul:first-child > li.selected {
    border: 1px white inset;
    color: black !important;
    padding-top: 3px;
    padding-right: 7px;
    padding-bottom: 0;
    padding-left: 8px;
}

