/**
 * Menu bar style:
 */
@charset "UTF-8";

div.jaysic-menu ul:first-child {
    position: relative;
    display: block;
    height: 23px;
    width: 100%;
    border: 0;
    border-top: 1px white outset;
    border-bottom: 1px #898782 solid;
    padding: 1px 0 0 0;
    box-shadow: 0 0 0 #000;
}

div.jaysic-menu ul:first-child > li {
    background-repeat: no-repeat;
    background-position: 2px 2px;
    cursor: default;
    margin: 0;
    border: 0;
    width: auto;
    min-width: inherit;
    height: 16px;
    float: left;

    padding-top: 3px;
    padding-right: 9px;
    padding-bottom: 0;
    padding-left: 8px;
}

div.jaysic-menu ul:first-child > li:hover {
    background-repeat: no-repeat;
    background-position: 2px 2px;
    cursor: default;
    margin: 0;
    border: 0;
    width: auto;
    min-width: inherit;
    height: 16px;
    float: left;

    border: 1px white outset;

    padding-top: 2px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-left: 7px;
}

/* Textual menu: */

div.jaysic-menu ul:first-child > li.selected,
div.jaysic-menu ul:first-child > li.selected:hover {
    background-repeat: no-repeat;
    background-position: 1px 1px;
    background-color: transparent;

    border: 1px white inset;
    color: black !important;

    padding-top: 3px;
    padding-right: 7px;
    padding-bottom: 1px;
    padding-left: 8px;
}

/* Menu with icon: */

div.jaysic-menu ul:first-child > li.icon {
    padding-top: 3px;
    padding-right: 6px;
    padding-bottom: 1px;
    padding-left: 21px;
}


div.jaysic-menu ul:first-child > li.icon:hover {
    background-position: 1px 1px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 1px;
    padding-left: 20px;
}

div.jaysic-menu ul:first-child > li.icon.selected {
    color: black !important;
    background-position: 2px 2px;

    padding-top: 3px;
    padding-right: 4px;
    padding-bottom: 1px;
    padding-left: 21px;
}

/* HOVERS: */

/*div.jaysic-menu ul:first-child > li:hover {*/
    /*background-repeat: no-repeat;*/
    /*background-position: 1px 1px;*/
    /*background-color: transparent;*/

    /*border: 1px white outset;*/
    /*color: black !important;*/
    /*padding-top: 2px;*/
    /*padding-right: 5px;*/
    /*padding-bottom: 2px;*/
    /*padding-left: 7px;*/
/*}*/

/*div.jaysic-menu ul:first-child > li.icon:hover {*/
    /*padding-left: 20px;*/
    /*padding-right: 5px;*/
    /*padding-right: 5px;*/
    /*color: black !important;*/
    /*background-position: 1px 1px;*/
    /*color: black !important;*/
/*}*/
