/**
 * Submenu style:
 */
@charset "UTF-8";

div.jaysic-menu ul {
    display: none;
    position: absolute;
    width: auto;
    list-style: none;
    margin-top: 0;
    margin: 0;
    padding: 0;
    background: #D4D0C8;
    border: 1px white outset;
    box-shadow: 3px 3px 3px #888;
}

div.jaysic-menu li {
    cursor: default;
    margin: 0;
    border: 0;
    min-width: 155px;
    width: auto;
    height: 18px;

    padding-top: 1px;
    padding-bottom: 0;
    padding-right: 3px;
    padding-left: 21px;

    float: none;
    color: black !important;
}

div.jaysic-menu li:last-child {
    padding-bottom: 2px;
}

div.jaysic-menu li.icon {
    background-repeat: no-repeat;
    background-position: 3px 1px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAH5JREFUOE+lk9sOgDAIQ/li9/9PLCzWIApUt2TJLnDsCoqqys68ko8x1KbBsJZz+L2Ps9gFQGJUYvnZGXJ+AQx8A2QevClYsp2yUkEMxoceCjIPaEBXxspMugciBPvWA68OffHJg+x5VBk7b9pOrABUJ9IA/wPFdXdHlzFTMwFN5age6MxQ8AAAAABJRU5ErkJggg==");
    color: black !important;
}

div.jaysic-menu li.selected {
    background-color: #0A246A;
    color: white !important;
}

div.jaysic-menu li.has-children > div  {
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAC1JREFUOE9jYBgFNA2B/5SaDjKAIkNgBpBtCLIBZBlCNReQHZZkOZts24awRgBvSg/x3KiFCwAAAABJRU5ErkJggg==');
}

div.jaysic-menu li.has-children.selected > div {
    color: white;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAC9JREFUOE9jYBgFtAuB/0BAkekgAygyBGYA2YYgG0CWIVRzAdkBSZazybZtaGsEABC2P8FzuOgRAAAAAElFTkSuQmCC');
}
